* {
  margin: 0;
  padding: 0;
}
div {
  height: 200px;
  width: 200px;
  height: auto;
  width: auto;
}
div.container {
  border : 0;
}
div.navigation {
  width: 300px;
  position: fixed;
  padding: 100px 0px;
  text-align: center;
}
div.content {
  border-left: 1px solid black;
  margin-left: 300px;
  padding: 50px 0 50px 35px;
}